body{
	margin: 0;
	padding: 0;
	font-family: Quicksand;
	overflow-X: hidden;
}

#header{
}

#wrapper{
	background-color: rgba(175,55,55,.5);
	z-index: 99999;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	/*padding: 10px 100px;*/
	box-sizing: border-box;
	transition: .3s;
	z-index: 999;
}

nav.black{
	background: rgba(0,0,0,.8);
	height: 100px;
	padding: 10px 100px;
}

nav #logo a{
	/*background-color: rgba(0,0,0,.2);*/
	width: 200px;
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 30px;
	transition: .3s;
	color: white;
	text-decoration: none;
}

nav ul{
	list-style: none;
	float:  right;
	margin:  0;
	padding: 0;
	display: flex;
}

nav ul li{
	list-style: none;
}

nav ul li a{
	line-height: 80px;
	padding: 12px 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
	color: white;
}

nav.black ul li a{
	color: #fff;
}

nav ul li a:focus{
	outline: none;
}

nav ul li a:hover{
	background-color: #af3737;
	color: #fff;
	border-radius: 6px;
}


#wrapper .mouse{
	width: 100vw;
	display: flex;
	justify-content: center;
	bottom: 60px;
	animation-duration: 2s;
	animation-name: mouse;
	animation-iteration-count: infinite;
}

@keyframes mouse{
	from{
		bottom: 60px;
		opacity: 1;
	}

	to{
		bottom: 10px;
		opacity: 0;
	}
}